:root {
  --r-background-color: #1a1626;
}

.slides {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.reveal.ready .slides {
  opacity: 1;
}

ul, ol {
  font-size: 90%;
}

li + li {
  margin-top: 0.3em;
}

.small {
  font-size: 0.6em;
}

.bigbutton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  border: none;
  border-radius: 0.25em;
  background: var(--r-main-color);
  color: var(--r-opposite-color, black);
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  padding: 0.5em 0.6em;
  margin: 1em;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reveal.focused.fullscreen .bigbutton {
  color: DarkSlateGray;
}

.reveal > .fsbutton {
  position: absolute;
  z-index: 2;
}

.slides .bigbutton.icon-fs:after {
  margin-left: 12px;
}

.reveal .backgrounds {
  -webkit-transition: background-color 3s cubic-bezier(0.26, 0.86, 0.44, 0.985) !important;
  -o-transition: background-color 3s cubic-bezier(0.26, 0.86, 0.44, 0.985) !important;
  transition: background-color 3s cubic-bezier(0.26, 0.86, 0.44, 0.985) !important;
}
.reveal.focused.fullscreen .backgrounds {
  background: DarkSlateGray;
}

.fsfx-disabled {
  display: none;
}
.no-fsfx .fsfx-disabled {
  display: block;
}

.no-fsfx .fsfx-enabled {
  display: none;
}

a.github-corner {
  position: absolute;
  z-index: 1;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.5);
}

a.github-corner:hover {
  color: white;
}